.list-item-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #788897;
  margin: 8px 0px;
}

.list-item-icon-container {
  width: 60px;
  display: flex;
  align-items: center;
}

.list-item-arrow {
  padding: 5px;
}

.list-item-folder {
  padding: 5px;
  font-size: 24px;
}

.list-item-title {
  margin-left: 5px;
}

.list-children {
  margin-left: 35px;
}
